body {
    overflow-y: hidden;
    font-family: 'Inter', sans-serif;
}

body.no-scroll {
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#upload-container {
    display: flex;
    align-items: center;
    column-gap: 100px;
    padding: 20px;
    margin-bottom: 25px;
}

#upload-button {
    display: flex;
    flex-direction: column;
    background-color: #007bff;
    row-gap: 15px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 20px 75px 0px 15px;
}

#drag-drop-text-container {
    line-height: 1.25em;
    width: 150px;
}

.drag-drop-text {
    font-size: 15px;
}

.or-text {
    font-size: 18px;
    color: #b4b4b4;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    #upload-container {
        column-gap: 50px;
    }
}

@media screen and (max-width: 650px) {
    .drag-drop-text {
        display: none;
    }

    .or-text {
        display: none;
    }
}

#media-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 200px;
    grid-gap: 50px;
    width: calc(100% - 85px);
    margin-left: calc(85px + 6vw);
    overflow-y: scroll;
    padding: 5vh 5vw 5vh 0vw;
    height: 90vh;
}

#media-container > #upload-container {
    grid-column: 1 / -1;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    transition: all .5s ease-in-out;
}

.gallery-image:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.expanded-image-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 85px;
    width: calc(100% - 85px);
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 50%;
}

.expanded-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.close-button, .download-button {
    position: absolute;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 11;
}

.close-button {
    top: 30px;
    left: 40px;
    background-color: #ff0000;
}

.download-button {
    top: 30px;
    right: 40px;
    background-color: #007bff;
}

.file-name {
    position: absolute;
    top: 25px;
    left: 140px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    z-index: 11;
}

.file-name-input {
    font-size: 16px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: calc(150px);
}

.dropdown-button {
    position: absolute;
    top: 48px;
    left: 130px;
    font-size: 15px;
    background-color: transparent;
    color: #736c64;
    border: none;
    cursor: pointer;
    z-index: 11;
    padding: 7.5px 10px;
    overflow: hidden;
}

.dropdown-button.active {
    background-color: #ebe9e6;
}

.dropdown-button::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebe9e6;
    transition: top 0.1s;
    z-index: -1;
}

.dropdown-button:hover::after {
    top: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 12;
    top: 80px;
    left: 130px;
}

.dropdown-content .dropdown-item {
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
}

.dropdown-item {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    text-align: left;
}

.dropdown-item i {
    margin-right: 10px;
}

.dropdown-item:hover {
    background-color: #eae8e6;
}

.show {
    display: block;
}

#drop-zone {
    position: fixed;
    top: 0;
    left: 85px;
    height: 100vh;
    width: calc(100vw - 85px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 13;
    display: none;
}