body {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    align-items: center;
    height: 90vh;
    width: 85px;
    padding-top: 10vh;
    background-color: lightblue;
    overflow: hidden;
    position: fixed; 
}

#profile-icon-container {
    position: absolute;
    bottom: 10vh;
}

.unset-a {
    all: unset;
}

.unset-a:hover {
    cursor: pointer;
}

.opacity-hover:hover {
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    opacity: 0.5;
}

.icon-selected {
    color: blue;
}

#article-container {
    width: calc(100vw - 85px);
    height: calc(100vh - 5vh);
    margin-left: calc(6vw + 85px);
    margin-top: 5vh;
    padding-right: 6vw;
}

#article-container-label {
    font-weight: 600;
    color: rgb(66, 66, 66);
    font-size: 30px;
}

#visibility-selector {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 50px;
    background-color: white;
    border-radius: 25px;
}

.selector-button {
    display: flex;
    align-items: center;
    column-gap: 7px;
    height: 50px;
    padding: 0 15px;
    border-right-style: dashed;
    border-color: #eae8e6;
}

.selector-button:first-child {
    padding-left: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.selector-button:last-child {
    padding-right: 25px;
    margin-right: 0;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.selector-button:hover {
    background-color: #eae8e6;
    cursor: pointer;
}

.selector-button.selected {
    background-color: #0084ff;
}

.selector-count {
    text-align: center;
    border-style: solid;
    border-color: #a7aaad;
    border-width: 1px;
    border-radius: 12px;
    padding: 1px 8px;
    font-size: 14px;
    font-weight: 500;
    color: #2c3338;
}