body {
    font-family: 'Inter', sans-serif;
}

#logout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 85px);
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#logout-bounding-box {
    background-color: #fff;
    height: 80%;
    width: 40%;
    border-radius: 25px;
    min-height: 600px;
    animation: fadeIn 0.5s ease-in-out forwards;
}

#logo-container {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin: 5% 0px 0px 5%;
}

#logo-container:hover {
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    opacity: 0.5;
}

.landing-logo {
    width: 75px;
    height: 75px;
}

.logo-type {
    font-family: "english-grotesque", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    align-self: center;
}

.line {
    margin: 10px 25px 0px 25px;
}

#button-container {
    margin: 15% 0px 0px 10%;
}

#sign-out-button {
    background-color: #ecb0b0;
    width: calc(60% + 40px);
    margin-top: 25px;
    height: 50px;
    border-color: transparent;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 500;
}