<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>How It Works | Creator Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/inw0enr.css">
    </head>
    <body>
        Portal
        <button onclick="window.location.href = '/portal/logout'">Logout</button>
    </body>
</html>