<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>How It Works | Creator Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
        <script src="https://kit.fontawesome.com/b612a3a6e6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.typekit.net/inw0enr.css">
    </head>
    <body>
        <div id="action-bar">
            <div class="close-button" onclick="window.location.href = '/portal'">X</div>
        </div>
    </body>
</html>