<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>How It Works | Creator Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
        <script src="https://kit.fontawesome.com/b612a3a6e6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.typekit.net/inw0enr.css">
        <link rel="preload" type="font/woff2" as="font" href="/static/fonts/manuka-bold.woff2">
        <link rel="preload" type="font/woff2" as="font" href="/static/fonts/manuka-medium.woff2">
        <link rel="preload" type="font/woff2" as="font" href="/static/fonts/manuka-condensed-bold.woff2">
    </head>
    <body>
        <div id="action-bar">
            <div class="close-button" onclick="window.location.href = '/portal'">X</div>
        </div>
        <div id="edit-area-container">
            <div id="edit-area">
                <h1 class="content-block title-block pre-populate" contenteditable="true" data-placeholder="Add title"></h1>
                <p class="content-block paragraph-block pre-populate" contenteditable="true" data-placeholder="Type / to choose a block"></p>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    </body>
</html>