<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>How It Works | Creator Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portal.css') }}">
        <script src="https://kit.fontawesome.com/b612a3a6e6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.typekit.net/inw0enr.css">
    </head>
    <body style="background-color: #f8f4f4;">
        <div class="sidebar">
            <a href="/portal" class="unset-a" title="home"><i class="fa-solid fa-house fa-2xl opacity-hover selected"></i></a>
            <a href="/portal/media" class="unset-a" title="media"><i class="fa-solid fa-image fa-2xl opacity-hover"></i></a>
            <div id="profile-icon-container">
                <a href="/portal/profile" class="unset-a" title="profile"><i class="fa-solid fa-user fa-2xl opacity-hover"></i></a>
            </div>
        </div>
        <div id="article-container">
            <p id="article-container-label">Your Articles</p>
        </div>
    </body>
</html>